!!!
%html{:ng=>{:app=>""}}
	%head
		%title Laemtong Contact Information
		%meta{:name=>"viewport", :content=>"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}/
		%meta{:http=>{:equiv=>"Content-Type"}, :content=>"text/html; charset=utf-8"}/
		%link{:href=>"assets/css/bootstrap.min.css", :rel=>"stylesheet", :media=>"all"}
		%link{:href=>"assets/typeface/typeface.css", :rel=>"stylesheet", :media=>"all"}
		%link{:href=>"assets/css/load.css", :rel=>"stylesheet", :media=>"all"}
	%body
		.overlay
		%nav{:role=> "navigation"}
			%h1.branding.clearfix
				%a{:href=>"http://www.laemthong.com/"}
					%img{:src=>"assets/img/laemtong-logo@2x.png", :width=>"209", :height=>"16"}
		%section{:role=>"container", :ng=>{:controller=>"AddressCtrl"}}
			%ul.list-unstyled
				%li.clearfix{:ng=>{:repeat=>"contact in contacts"}}
					%h2.logo
						%img.at2x{:src=>"{{contact.image}}", :alt=>"{{contact.titleEN}}", :width=>"{{contact.imageWidth}}", :height=>"{{contact.imageHeight}}"}
					%p
						{{contact.titleTH}}
						%br/
						{{contact.address}}
					.meta
						%span.phone
							%a{:href=>"tel:{{contact.phone}}"} T {{contact.phone}}
						%span.fax
							%a{:href=>"tel:{{contact.fax}}"} F {{contact.fax}}
					%br/
					.action
						%a.btn.btn-savetophone{:href=>"tel:+66819827711"} Save to Phone
						%a.btn.btn-makeacall{:href=>"tel:+66819827711"} Call now
		%script{:src=>"//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
		%script{:src=>"//code.jquery.com/jquery-migrate-1.2.1.min.js"}
		%script{:src=>"//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"}
		%script{:src=>"assets/js/bootstrap.min.js"}
		%script{:src=>"assets/js/address.js"}
		%script{:src=>"assets/js/load.js"}