$primary-color: #262626;
$secondary-color: #111111;

$nav-text-color-m: #666666;
$nav-link-color-m: #999999;
$nav-link-hilight-m: white;
$nav-border-color-m: #555555;
$nav-link-color: #666666;
$nav-link-hilight: #333333;
$nav-border-color: #555555;

* {
	-webkit-font-smoothing: antialiased;
	transition: .3s all ease;
}
body {
	height: 100%;
	overflow: hidden;
	background: url(../img/laemtong-bg.jpg) no-repeat fixed center center;
	background-size: cover;
}
a {
	color: white;
}
.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; left: 0;
	z-index: -1;
	background: rgba(0,0,0,.8);
}
[role=navigation], [role=container] {
	z-index: 1;
}
[role=navigation] {
	box-shadow: 0 2px 3px rgba(0,0,0,.4);
	text-align: center;
	position: fixed;
	width: 100%;
	height: 50px;
	overflow: hidden;
	.branding {
		margin: 0;
		padding: 14px 0 17px;
		font-size: 19px;
		a {
			margin: 0;
		}
		&:hover {
			opacity: .9;
		}
	}
}
[role=container] {
	width: 100%;
	height: 100%;
	position: relative;
	top: 55px;
	padding: 0 20px;
	overflow-y: scroll;
	overflow-x: hidden;
	color: white;
	ul {
		li {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 60px;
			}
			p {
				font-size: 14px;
				font-family: 'DIN'
			}
			.meta {
				span {
					margin-right: 10px;
					display: inline-block;
				}
			}
		}
	}
}
.btn-makeacall, .btn-savetophone {
	border-radius: 4px;
	font-size: 12px;
	padding: 3px 9px;
	margin-right: 5px;
}
.btn-makeacall {
	color:black;
	background-color:#fdd33a;
	&:hover, &:focus,&:active,&.active {
		background-color:#e3c24b;
	}
}
.btn-savetophone {
	color:white;
	background-color:#737272;
	&:hover, &:focus,&:active,&.active {
		color:white;
		background-color:#828484;
	}
}